@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-medium;
  }
  h2 {
    @apply text-3xl font-medium;
  }
  h3 {
    @apply text-2xl font-semibold;
  }
  h4 {
    @apply text-xl font-semibold;
  }
  h5 {
    @apply text-lg font-bold;
  }
  h6 {
    @apply text-base font-bold;
  }

  *:disabled {
    @apply opacity-50 pointer-events-none;
  }

  a[disabled="true"] {
    @apply opacity-50 pointer-events-none;
  }

  a.link {
    @apply font-medium text-blue-700 underline;
  }

  a.card {
    @apply block cursor-pointer hover:shadow-xl ring-gray-700 hover:ring-2;
  }

  .alerts {
    @apply fixed top-0 left-0 right-0 m-5;
  }

  .alert {
    @apply flex rounded-md border-2 p-2 mb-2 items-center transition-opacity;
  }

  .alert-info {
    @apply bg-blue-200 text-blue-600 border-blue-500 opacity-100;
  }

  .alert-danger {
    @apply bg-red-200 text-red-600 border-red-500 opacity-100;
  }

  .alert-success {
    @apply bg-green-200 text-green-600 border-green-500 opacity-100;
  }

  .alert > .message {
    @apply flex-grow;
  }

  .alert > button {
    @apply button-icon button-icon-sm;
  }

  .button {
    @apply text-center px-3 py-2 rounded-lg transition-colors;
  }

  .button-rounded {
    @apply rounded-full !important;
  }

  .button > svg {
    @apply mr-1;
  }

  .button-block {
    @apply w-full block;
  }

  .button-primary {
    @apply text-white bg-yellow-600 hover:bg-yellow-700;
  }

  .button-secondary {
    @apply hover:text-white bg-transparent hover:bg-yellow-600 ring-2 ring-yellow-600 ring-inset;
  }

  .button-danger {
    @apply text-white bg-red-600 hover:bg-red-700;
  }

  .button-icon {
    @apply flex p-0 rounded-lg transition-colors;
  }

  .button-icon > svg {
    @apply block m-auto;
  }

  .button-icon-lg {
    @apply h-14 w-14;
  }

  .button-icon-lg svg {
    @apply icon-lg;
  }

  .button-icon-md {
    @apply h-10 w-10;
  }

  .button-icon-md svg {
    @apply icon-md;
  }

  .button-icon-sm {
    @apply h-7 w-7;
  }

  .button-icon-sm svg {
    @apply icon-sm;
  }

  .card {
    @apply shadow-lg rounded-3xl border-2 p-5 transition-shadow;
  }

  .fab-container {
    @apply fixed bottom-10 right-5 flex flex-col z-10;
  }

  .fab-container > button {
    @apply shadow-md;
  }

  .fab-container > :not(button:first-child) {
    @apply mt-5;
  }

  /* Checkbox */
  label.checkbox {
    @apply inline-flex items-center;
  }

  label.checkbox input[type="checkbox"] {
    @apply appearance-none border-2 border-gray-300 checked:bg-yellow-500 checked:border-transparent transition-colors h-6 w-6 bg-contain m-0 cursor-pointer;
  }

  label.checkbox input[type="checkbox"]:checked {
    background-image: url("~@/assets/icons/check-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
  }

  label.checkbox > :not(:first-child) {
    @apply ml-2 !important;
  }

  .modal {
    @apply fixed left-0 top-0 w-screen h-screen flex z-10;
  }

  .modal__backdrop {
    @apply bg-black w-full h-full opacity-60 absolute;
  }

  .modal__dialog {
    @apply card bg-white m-auto w-10/12 z-10;
  }

  .modal__header {
    @apply flex items-start justify-between mb-3;
  }

  .modal__header > :first-child {
    @apply flex-grow;
  }

  .modal__buttons {
    @apply text-right;
  }

  .modal__buttons > :not(:first-child) {
    @apply ml-5;
  }

  label,
  input {
    @apply block;
  }

  label {
    @apply pt-2 text-sm text-gray-500;
  }

  input {
    @apply p-1 mt-1 w-full rounded-md shadow-sm border-2 focus:outline-none;
  }

  input:required:invalid {
    @apply ring-2 ring-red-600;
  }

  input:required:valid {
    @apply ring-0 focus:ring-2 focus:ring-yellow-600;
  }

  .icon-sm {
    @apply h-4 w-4 !important;
  }

  .icon-md {
    @apply h-5 w-5 !important;
  }

  .icon-lg {
    @apply h-6 w-6 !important;
  }

  .input__number input[type="number"]::-webkit-inner-spin-button,
  .input__number input[type="number"]::-webkit-outer-spin-button {
    display: none;
  }

  .input__number button {
    @apply button-icon-sm;
  }

  .input__number {
    @apply mt-1 rounded-lg border-2 border-yellow-500 inline-flex items-center;
  }

  .input__number input[type="number"] {
    @apply inline-block w-10 text-center shadow-none border-none mt-0 p-1;
  }

  .input__search {
    @apply flex items-center border-2 rounded-lg;
  }

  .input__search > input[type="search"] {
    @apply flex-grow border-0 m-0;
  }

  .input__search > svg {
    @apply text-gray-700 mr-3;
  }

  select {
    @apply p-1 mt-1 rounded-md shadow-sm border-2 focus:outline-none w-full;
  }

  th,
  td {
    @apply px-2 py-1 sm:px-4 sm:py-2;
    @apply border border-yellow-500;
  }

  table thead,
  table tfoot {
    @apply bg-yellow-200 text-yellow-700 font-medium;
  }

  .text-success {
    @apply text-green-700;
  }

  .text-info {
    @apply text-blue-700;
  }

  .text-danger {
    @apply text-red-700;
  }

  /* Animations */
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-active,
  .fade-leave-active {
    @apply transition-opacity;
  }
}
