@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body.prevent-scroll {
    @apply overflow-hidden;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-lightSecondary rounded-full;
  }

  ::-webkit-scrollbar-corner {
    @apply bg-opacity-0;
  }

  /* Selection */
  ::selection {
    @apply bg-primary;
  }

  /* FirebaseUI Styles - Prevent override */
  /* purgecss start ignore */
  [class*="firebaseui-input"] {
    background-color: unset !important;
    border-color: unset !important;
  }

  [class*="firebaseui-label"] {
    padding: 0 !important;
  }
  /* purgecss end ignore */

  h1 {
    @apply text-4xl font-medium;
  }

  h2 {
    @apply text-3xl font-medium;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  h4 {
    @apply text-xl font-semibold;
  }

  h5 {
    @apply text-lg font-bold;
  }

  h6 {
    @apply text-base font-bold;
  }

  .app-container {
    @apply container mx-auto p-5 sm:p-10;
  }

  .app-container__header {
    @apply my-5;
  }

  *:disabled {
    @apply opacity-50 pointer-events-none;
  }

  a[disabled="true"] {
    @apply opacity-50 pointer-events-none;
  }

  a.link {
    @apply font-medium text-primary underline;
  }

  a.card {
    @apply block cursor-pointer hover:shadow-xl hover:border-secondary;
  }

  .alerts {
    @apply fixed top-0 left-0 right-0 m-5 z-30;
  }

  .alert {
    @apply flex rounded-md border-2 p-2 mb-2 items-center transition-opacity;
  }

  .alert-info {
    @apply bg-lightInfo text-darkInfo border-darkInfo opacity-100;
  }

  .alert-danger {
    @apply bg-lightDanger text-darkDanger border-darkDanger opacity-100;
  }

  .alert-success {
    @apply bg-lightSuccess text-darkSuccess border-darkSuccess opacity-100;
  }

  .alert > .message {
    @apply flex-grow;
  }

  .alert > button {
    @apply button-icon button-icon-sm;
  }

  .button {
    @apply inline-block text-center px-3 py-2 rounded-lg max-w-md transition-colors;
  }

  .button-rounded {
    @apply rounded-full !important;
  }

  .button > svg {
    @apply mr-1 icon-sm inline-block;
  }

  .button-block {
    @apply block w-full mx-auto;
  }

  .button-primary {
    @apply text-white bg-primary hover:bg-darkPrimary;
  }

  .button-secondary {
    @apply text-primary hover:text-white bg-light2 hover:bg-primary ring-primary ring-2 ring-inset;
  }

  .button-transparent {
    @apply text-dark3 bg-transparent hover:bg-lightSecondary;
  }

  .button-light {
    @apply bg-light1 hover:bg-light2;
  }

  .button-danger {
    @apply text-white bg-danger hover:bg-darkDanger;
  }

  .button-success {
    @apply text-white bg-success hover:bg-darkSuccess;
  }

  .button-icon {
    @apply flex p-0 rounded-lg transition-colors;
  }

  .button-icon div {
    @apply w-full h-full flex;
  }

  .button-icon > svg,
  .button-icon div > svg {
    @apply block m-auto;
  }

  .button-icon-lg {
    @apply h-14 w-14;
    min-width: 3.5rem;
  }

  .button-icon-lg svg {
    @apply icon-lg;
  }

  .button-icon-md {
    @apply h-10 w-10;
    min-width: 2.5rem;
  }

  .button-icon-md svg {
    @apply icon-md;
  }

  .button-icon-sm {
    @apply h-7 w-7;
    min-width: 1.75rem;
  }

  .button-icon-sm svg {
    @apply icon-sm;
  }

  .card {
    @apply shadow-lg rounded-3xl border-2 border-lightSecondary p-5 bg-white max-w-screen-md mx-auto;
  }

  .fab-container {
    @apply fixed bottom-10 right-5 flex flex-col z-10;
  }

  .fab-container > button {
    @apply shadow-md;
  }

  .fab-container > :not(button:first-child) {
    @apply mt-5;
  }

  /* Checkbox */
  label.checkbox {
    @apply inline-flex items-center cursor-pointer;
  }

  label.checkbox input[type="checkbox"] {
    @apply appearance-none border-2 border-lightSecondary checked:bg-primary;
    @apply checked:border-primary transition-colors h-6 w-6  bg-contain m-0;
    min-width: 1.5rem;
  }

  label.checkbox input[type="checkbox"]:checked {
    background-image: url("~@/assets/icons/check-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.25rem;
  }

  label.checkbox > :not(:first-child) {
    @apply ml-2 !important;
  }

  .fullscreen-overlay,
  .modal,
  .sidebar {
    @apply fixed left-0 top-0 w-screen h-screen flex z-20;
  }

  .backdrop,
  .modal__backdrop,
  .sidebar__backdrop {
    @apply bg-black w-full h-full opacity-60 absolute;
  }

  .modal__backdrop,
  .sidebar__backdrop {
    @apply cursor-pointer;
  }

  .modal__dialog {
    @apply card bg-white m-auto w-10/12 z-10;
  }

  .modal__header {
    @apply flex items-start justify-between mb-3;
  }

  .modal__header > :first-child {
    @apply flex-grow;
  }

  .modal__buttons {
    @apply text-right mt-3;
  }

  .modal__buttons > :not(:first-child) {
    @apply ml-5;
  }

  label,
  input {
    @apply block;
  }

  label {
    @apply pt-2 text-sm text-secondary;
  }

  .grid-padded > * {
    @apply px-5 py-3;
  }

  .grid-separated > * {
    @apply border-b-2 border-lightSecondary dark:border-dark1;
  }

  input,
  .input__search {
    @apply p-1 mt-1 w-full border-2 rounded-md shadow-sm focus:outline-none;
  }

  input:required:invalid {
    @apply border-danger;
  }

  input:required:valid {
    @apply focus:border-primary;
  }

  .input-suppress-invalid {
    @apply border-lightSecondary !important;
  }

  .icon-sm {
    @apply h-5 w-5 !important;
  }

  .icon-md {
    @apply h-5 w-5 !important;
  }

  .icon-lg {
    @apply h-6 w-6 !important;
  }

  .icon-landscape-lg {
    max-height: 2rem !important;
  }

  .input__number input[type="number"]::-webkit-inner-spin-button,
  .input__number input[type="number"]::-webkit-outer-spin-button {
    display: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  .input__number {
    @apply mt-1 rounded-lg border-2 border-primary inline-flex items-center;
  }

  .input__number button {
    @apply button-icon button-icon-sm;
  }

  .input__number input[type="number"] {
    @apply inline-block w-12 text-center shadow-none border-none mt-0 bg-transparent;
  }

  .input__search {
    @apply flex items-center border-2 rounded-lg;
  }

  .input__search > input[type="search"] {
    @apply flex-grow border-0 m-0;
  }

  .input__search::after {
    content: url("~@/assets/icons/search.svg");
    filter: contrast(80%);
    @apply mr-3 icon-sm;
  }

  select {
    @apply p-1 mt-1 rounded-md shadow-sm border-2 focus:outline-none w-full cursor-pointer;
  }

  /* Sidebar */
  .sidebar:not(.active) {
    @apply pointer-events-none;
  }

  .sidebar__content {
    @apply w-3/4 max-w-xs bg-white h-full z-10 overflow-x-scroll;
  }

  .sidebar-link {
    @apply flex items-center w-full text-2xl bg-light hover:bg-darkPrimary hover:text-light transition-colors py-5 px-10;
  }

  .sidebar-link > svg {
    @apply icon-md mr-2;
  }

  /* Toolbar */
  .toolbar {
    @apply sticky top-0 border-b-2 bg-white dark:bg-dark2 dark:border-dark3 shadow-md z-10;
  }

  .toolbar > .container {
    @apply mx-auto p-3;
  }

  .toolbar__header {
    @apply flex items-center justify-between;
  }

  th,
  td {
    @apply px-2 py-1 sm:px-4 sm:py-2;
    @apply border border-primary;
  }

  table thead,
  table tfoot {
    @apply bg-lightPrimary text-darkPrimary font-medium;
  }

  .print-only {
    display: none;
  }

  /* purgecss start ignore */
  /* Animations */
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-active,
  .fade-leave-active {
    @apply transition-opacity;
  }

  .slide-enter-from,
  .slide-leave-to {
    transform: translateX(-100%) !important;
  }

  .slide-enter-active,
  .slide-leave-active {
    @apply transition-transform !important;
  }

  /* purgecss end ignore */

  /* DARK MODE */
  .dark {
    @apply bg-dark3 text-darkText;

    ::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }

    ::-webkit-scrollbar-thumb {
      @apply bg-dark1 !important;
    }

    nav {
      @apply bg-dark2;
    }

    a.link {
      @apply text-lightPrimary;
    }

    a.card {
      @apply hover:border-lightSecondary;
    }

    .button-primary {
      @apply bg-primary hover:bg-darkPrimary;
    }

    .button-secondary {
      @apply bg-dark2 ring-darkPrimary hover:bg-darkPrimary;
    }

    .button-transparent {
      @apply text-darkText hover:bg-black;
    }

    .card {
      @apply bg-dark2 border-dark1 border-opacity-50;
    }

    label {
      @apply text-lightSecondary;
    }

    label.checkbox input[type="checkbox"] {
      @apply border-darkSecondary checked:border-darkPrimary checked:bg-darkPrimary cursor-pointer;
    }

    .modal__dialog {
      @apply bg-dark2;
    }

    input,
    .input__search,
    .input__number,
    select {
      @apply bg-dark1 border-dark1;
    }

    input:required:invalid {
      @apply border-darkDanger;
    }

    input:required:valid {
      @apply focus:border-darkPrimary;
    }

    .input-suppress-invalid {
      @apply border-dark1 !important;
    }

    .input__search > svg {
      @apply text-lightSecondary;
    }

    .sidebar__content {
      @apply bg-dark2;
    }

    .sidebar-link {
      @apply bg-dark2 hover:bg-dark1;
    }

    th,
    td {
      @apply border-darkPrimary;
    }

    table thead,
    table tfoot {
      @apply bg-lightPrimary text-darkPrimary;
    }
  }
}
